//Colors
$header-color: #001524;
$subheader-color: #A0ABB3;
$background-color: #fff;
$boxShadow-color: 0 8px 20px rgba(240, 242, 245, 0.5);;

//Font size
$header-fontSize: 14px;

//Line height
$page-header-lineHeight: 24px;
$article-header-lineHeight: 21px;

//Fonts
$bold: Gilroy, bold, sans-serif;
$semiBold: Gilroy, semibold, sans-serif;
