//Colors
$header-color: #001524;
$subheader-color: #A0ABB3;

//Font size
$header-fontSize: 14px;

//Line height
$page-header-lineHeight: 24px;
$article-header-lineHeight: 21px;

//Fonts

$bold: Gilroy, bold, sans-serif;
$semiBold: Gilroy, semibold, sans-serif;