@use "../../_settings/variables";

.a-button {
  width: 50%;
  height: 100%;
  background-color: variables.$background-color;
  font-family: variables.$bold;
  font-style: normal;
  font-weight: bold;
  font-size: variables.$header-fontSize;
  line-height: variables.$page-header-lineHeight;
  text-align: center;
  color: variables.$header-color;

  &--active {
    border-bottom: 2px solid;
    color: #466BC9;
  }

}
