$primary-color: #466BC9;
$page-header-color: #001524;
$subheader-color: #A0ABB3;
$bg-color: #ffffff;
$boxShadow-color: 0 8px 20px rgba(240, 242, 245, 0.5);
$text-color: #182F40;
$menu-button-color: #466BC9;
$addComment-title-color: #586976;
$addComment-input-placeholder-color: #586976;
$addComment-button-color: #466BC9;
$border-color: #F0F2F5;

