@use "../../_settings/variables" as *;

.m-article {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.8em;
  padding: 2.4em;
  background-color: $bg-color;
  box-shadow: $boxShadow-color;

  &__arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }

  &__titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
  }
}

.m-article:last-child {
  margin-bottom: 0;
}