.m-article {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.8em;
  padding: 2.4em;
  background: #FFFFFF;
  box-shadow: 0 8px 20px rgba(240, 242, 245, 0.5);

  &__arrowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__titleContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    justify-content: center;
    align-items: flex-start;
  }
}

.m-article:last-child {
  margin-bottom: 0;
}